@model Books

<div class="bg-dark text-info">
    <h2>@Model.Title</h2>
    <h3>@Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast</h3>
    <p>@Model.Publisher</p>
    <p>@Model.ISBN</p>
    <p>@Model.Class</p>
    <p>@Model.Category</p>
    <p class="list-group-item-dark">@Model.Price</p>
    <p>@Model.NumPages</p>
</div>